/*sets the font and font color of the entire page*/
* {
    font-family: 'Courier New', Courier, monospace;
    color:rgb(248, 233, 213);
    box-sizing: border-box;
}
/*sets the background color for the boddy element*/
body {
    background-color:  rgb(19, 109, 134);
    margin: 0;
}

/*banner image credit: https://pixabay.com/illustrations/banner-header-homepage-halloween-1756639/
sets the height of the header banner and allows to put text on banner image*/
/*.header-img {
    background-image: url("../images/banner-1756639_1920.jpg");
    flex: 1 0 auto;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    height: 300px;
}*/
.header-img {
    background-image: url("..//images/banner-1756639_1920.jpg");
    display: grid;
    position: relative;
    grid-gap: 2px;
    border: 1px, solid rgb(248, 233, 213);
    width: 100%;
}


/*.aboutme {
    display: inline-block;
    position: relative;
    flex: 1 1 auto;
    margin-top: 2%;
    margin-bottom: 2%; 
    border-right: 10px solid;
    font-size: 50px;
    width: 15%;
}*/
.aboutme {
    display: grid;
    grid-gap: 2px;
    position: relative;
    border-right: 10px solid;
    font-size: 50px;
    width: 15%;
}


/*.aboutp {
    display: inline-block;
    position: relative;
    flex: 1 0 auto;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    border-width: 1px;
    width: 80%;
    }*/
    .aboutp {
        display: grid;
        position: relative;
        font-size: 20px;
        margin-top: 2%;
        grid-gap: 2px;
        float: right;
        width: 75%;
    }

/*.projects {
    display: inline-block;
    flex: 1 1 auto;
    padding: 10px;
    border-right: 10px solid;
    font-size: 40px;
    width: 15%;
}*/
.projects {
    display: grid;
    grid-gap: 2px;
    position: relative;
    border-right: 10px solid;
    font-size: 50px;
    width: 15%;
}

/*.project {
    background-image: url("../images/bellflowers-7298762_1920.jpg");
    display: inline-block;
    flex: 1 0 auto;
    position: relative;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    height: 30px;
    width: 80%;
}*/
.project {
    background-image: url("..//images/bellflowers-7298762_1920.jpg");
    display: grid;
    position: relative;
    text-align: center;
    border-style: solid;
    float: right;
    border-width: 1px;
    height: 300px;
    grid-gap: 2px;
    width:80%;
    margin: 1%;
}

/*.small-projects {
    background-image: url("../images/snow-5404785_1920.jpg");
    display: inline-block;
    flex: 1 0 auto;
    padding: 10px;
    position: relative;
    width: 45%;
    margin-bottom: 2%;
    margin-right: 2%;
    border-style: solid;
    border-width: 1px;
    float: right;
}*/
.small-projects {
    background-image: url("..//images/flower-7184366_1920.jpg");
    display: grid;
    /*grid-template-rows: fit-content (200px);*/
    position: relative;
    text-align: center;
    border-style: solid;
    float: right;
    border-width: 1px;
    height: 200px;
    grid-gap: 2px;
    width:39%;
    margin: 1%;
}


/*.contactme {
    display: inline-block;
    position: relative;
    flex: 1 1 auto;
    padding: 10px;
    border-right: 10px solid;
    font-size: 40px;
    width: 15%;
}*/
.contactme {
    display: grid;
    position: relative;
    grid-gap: 2px;
    border-right: 10px solid;
    font-size: 50px;
    width: 15%;
}

/*.contact {
    display: inline-block;
    position: relative;
    flex: 1 0 uto;
    font-size: large;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    width: 80%;
}*/
.contact {
    display: grid;
    position: relative;
    text-align: center;
    font-size: 25px;
    border-style: solid;
    float: right;
    border-width: 1px;
    height: 50px;
    grid-gap: 2px;
    width:80%;
}
/*sets the display of the navigation links*/
nav {
    float: right;
    font-size: 30px;
   /* padding: 15px;
    margin-top: 150px;*/
}
/*sets the color of the hover action for the navigation links*/
nav :hover {
background-color:rgb(26, 78, 69);
}

/*removed the underline from the links*/
a {
    text-decoration: none;
}
/*Centers the contact links in the footer*/
ul {
    text-align: center;
}
/*sets the color of the hover action for the contact links*/
ul :hover {
    background-color: rgb(26, 78, 69);
}
/*sets the contact me list to horizontal instead of verticle*/
li {
    display: inline;
    padding: 10px;
}
/*sets the font size and placement of the h1 heading*/
h1 {
    font-size: 50px;
    padding: 10px;
}
/*sets the font size and placement of the h2 heading*/
h2 {
    font-size: 30px;
}
/*sets the size, border, and margin for the profile picture*/
.profile-pic {
    height: 175px;
    width: 150px;
    border-radius: 50px;
    margin: 10px;
}
#project2 {
    background-image: url("..//images/shilouette-7347044_1920.jpg");
}
#project3 {
    background-image: url("..//images/snow-5404785_1920.jpg");
}
#project4 {
    background-image: url("..//images/sunrise-7353034_1920.jpg");
}
#project5 {
    background-image: url("..//images/flower-7184366_1920.jpg");
}

@media screen and (max-width:768px) {
main, body{
    width:100%;
    background: rgb(68, 46, 68);
}
}