* {
    background-color: lightskyblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav {
    float: right;
}

ul {
    float: right;
}

li {
    display: inline;
}

img {
    height: 150px;
    width: 150px;
    border-radius: 50px;
}